
main {
    min-height: 100vh;
    background-color:#F7ECDE;
  }
  

.card input{
   background-color:#ffffff;
}

button{
    background-color: blue;
}
.card h6{
    color: rgb(0, 0, 0);
    
}
.card h3{
   background-image: linear-gradient(90deg,rgba(50,176,86,1)11%,rgba(176,171,74,1)77%);
   -webkit-text-fill-color: transparent;
   -webkit-background-clip: text;
  
    font-family: "Pacifico", cursive;
  
}
.text h1{
    background-image: linear-gradient(69deg,rgb(0, 0, 0)25%,rgb(255, 255, 255)77%);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
  font-size: 65px;
  /* font-family: "Pacifico", cursive;
  color: #352e28;
  isolation: isolate; */
}


 
  

.card button{

    text-align: center;
}
table thead{
    background-color: black;
}
